body{
	font-family: 'Cuprum', sans-serif;
}


/* WRAPPER */

.navbar{
	font-family: 'Charm', cursive;
	background-color: #000;
}

.top:hover{
	color:#129cf3;
}

.wrap{
	background-color: #1e2022;
	text-align: center;
}

.head{
	font-family: 'Raleway', sans-serif;
	position: relative;
	color: #ddd;
	margin: 15% 10% 5% 10%;
}

.head h1::before{
	content:" ";
	border:2px solid #129cf3;
	position:absolute;
	top:65px;
	width:30%;
	height:0.5px;
}

.head h1{
	font-family: 'Merienda', cursive;
	font-size: 3.5rem;
}

.head p{
	font-size:1.25rem;
	font-weight: 400;
}

.head a{
	font-size: 1.25rem;
	margin:3% 3% 5% 0;
}

.top-img{
	border: 2px solid #129cf3;
	border-radius:100px;
	width:260px;
	height:380px;
	margin:5% 10% 5% 10%;
}

/* POWER */

#powers{
	margin:4% 5% 4% 5%;	
}


.tipow{ 
	font-family: 'Cuprum', sans-serif;
	text-align: center;
}

.tiicon{
	color:#222;
	text-align:center;
}

.colms h3{
	font-family: 'Merienda', cursive;
	font-size:1.8rem;
	color:#222;
	padding-top:1.5%;
}

.tiicon i:hover,.tiicon h3:hover{
	color: #129cf3;
}

.colms{
	position:relative;
	margin:5% 0 2%; 
}


/* SYMBOLS*/

#symbols{
	font-family: 'Merienda', cursive; 
	text-align: center;
	background-color: #202020;
	padding:2% 4% 0% 4%;
}

.asso{
	color:#fff;
	padding:2% 5% 4% 5%;
}

.card{
	margin:2% 0 4%;
}

.card-header h3:hover{
	color: #129cf3;
}

.card-body{
	font-family: 'Cuprum', sans-serif;
	font-size: 1.4rem;
}

/* REPRESENTATIONS */

#represent{
	font-family: 'Merienda', cursive; 
	text-align:center;
	color:#fff;
	background-image: url(universe.jpg);
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
}

.wraprep{
	color:#eee;
	background-color: rgba(100,100,100,0.5);
}

.rep{
	font-family: 'Cuprum', sans-serif;
	padding:3% 4% 3% 4%;
}

.repimg{
	width:300px;
	height:400px;
	border:3px solid #129cf3;
	border-radius: 50%
}

.wraprep h3{
	padding:1% 0;
}

/* ANIMAL */

#animal{
	font-family: 'Raleway', sans-serif;
	text-align:center;
	padding:2% 3%;
}

.ani{
	font-weight:600;
	padding:2% 3%;
	font-family: 'Cuprum', sans-serif;
}

.ani h2{
		font-size: 2.5rem;
	} 

.wall{
	border: 4px solid #444;
	border-radius: 2rem;
	margin: 2% 2%;
}

.wall h2{
	color:#000;
	padding: 2% 2%;
	font-weight: 600;
	
}

.names{
	font-weight: 550;
	font-family: 'Merienda', cursive; 
}

/* LAST */

#last{
	font-family: 'Charm', cursive;
	background-color: #000;
	color:#fff;
	text-align: center;
	padding: 5%;
}




























